@font-face {
    font-family: 'roboto-regular';
    src: url(fonts/Roboto-Regular.ttf);   
}

@font-face {
    font-family: 'roboto-medium';
    src: url(fonts/Roboto-Medium.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto-regular';
    color: rgb(253, 250, 250);
    font-weight: 500;
}

body{
    background-color: #FAEBD7;
    overflow-y: hidden;
    overflow-x:hidden;
}

.header-content {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 10vh;
}

.header-content h1 {
    text-transform: uppercase;
    color: black;
    font-family: 'roboto-medium';
}

.imgone {
    width: 5rem;
    height: 5rem;
    margin-right: 20px;
}

.imgone img{
    filter: invert(100%);
}

.main-content {
    height: 100vh;
}

.card {
    border: 2px solid black;
    width: 15.5vw;
    border-radius: 5px;
    -webkit-box-shadow: 8px 5px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    8px 5px 5px rgba(50, 50, 50, 0.77);
    box-shadow:         8px 5px 5px rgba(50, 50, 50, 0.77);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
    
}

.card.flipped {
    transform: rotateY(180deg);
  }
  
  .card .front, .card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card .back {
    transform: rotateY(180deg);
  }

.card p{
    text-align: center;
    text-transform: uppercase;
    border: 2px solid #162938;
    font-family: 'roboto-medium';
    letter-spacing: 1.5px;
}

.card h2 {
    font-size: 2.7vh;
    text-align: center;
    border: 2px solid black;
    background-color: black;
    margin: 10px 10px 0 10px;
    border-radius: 10px;
    font-family: 'roboto-medium';
}

.andar, .curso{
    font-family: 'roboto-medium';
}

.card h3 {
    text-align: center;
    margin-top: 10px;
    color: black;
}

.nomeprof{
    margin: 0 10px 0 10px;
    background-color: black;
    border-radius: 10px;
    
}
  
.cardsix {
    margin-right: 10px;
}

.cards {
    margin: 0 0 10px 20px;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    column-gap: 10px;
    transition: ease-in-out .4s;
    height: 40vh;
}


.cardone{
    margin: 0 0 0 20px;
}

.imgcardone{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}

.imgcardone p{
    text-align: center;
    text-transform: uppercase;
    color: black;
}

.foto{
    height: 120px;
}

.cardinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 28vh;
}

.eventandavisos { 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100vw;
    height: 45.5vh;
}

/*Tamanho das DIV'S Avisos e Eventos*/
.tamanho {
    width: 49vw;
    border: 2px solid black;
    margin: 0 0 10px 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 10px 10px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    0 10px 10px rgba(50, 50, 50, 0.77);
    box-shadow:         0 10px 10px rgba(50, 50, 50, 0.77);
}

.tamanhotwo {
    border: 2px solid black;
    margin: 0 10px 10px 0;
    border-radius: 10px;
    width: 49vw;
    height: 45.5vh;
    -webkit-box-shadow: 0 10px 10px rgba(50, 50, 50, 0.77);
    -moz-box-shadow:    0 10px 10px rgba(50, 50, 50, 0.77);
    box-shadow:         0 10px 10px rgba(50, 50, 50, 0.77);
}

/**/

.eventos {
    margin-right: 10px;
    width: 95%;
    margin: auto;
    height: 45.5vh;
    overflow: hidden;

}

.eventandavisos h1 {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 10px;
    color: black;
    font-family: 'roboto-medium';
    height: 5vh;
}

.avisos {
    width: 95%;
    margin: auto;
    height: 45.5vh;
    overflow: hidden;
    position: relative;
}

.texto-aviso{
    background-color: black;
    border-radius: 10px;
    height: 6vh;
}

.texto-aviso p {
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    animation: deslocar 10s linear infinite;
    position: relative;
    color: white;

}

@keyframes deslocar {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }


.texto-evento{
    background-color: black;
    border-radius: 10px;
    height: 6vh;
}

.texto-evento p {
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    font-weight: 500;
    animation: deslocar 10s linear infinite;
    position: relative;
    color: white;
}

.avisoall{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px;
    margin: 10px 0 0 0;
    
}

.imgaviso h4 {
    letter-spacing: 1.5px;
    width: 80%;

}

.imgevento,
.imgeventoTwo {
    display: flex;
    gap: 20px;
    margin-top: 10px;
    margin-bottom: 10px; /* Adiciona margem inferior */
    height: 14.5vh;
}

.textEvent,
.textEventTwo {
    letter-spacing: 2px;
    width: 80%;
    font-weight: 500;
    color: black;
    height: 15vh;
    margin-bottom: 5px;
    font-size: 95%;
}

.imghtml1,
.imghtml1_1{
    height: 30.5vh;
    border: 2px solid black;
    width: 22.5vw;
    border-radius: 5px;
}

.imghtml2,
.imghtml3{
    height: 14.5vh;
    border: 2px solid black;
    border-radius: 10px;
}

.imghtml2 img,
.imghtml3 img{
    height: 12vh;
}

.footer {
    font-size: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 60px
}

/* esconde o footer quando a altura da tela é menor do que 600px */
@media (max-height: 768px) {
    .footer {
      display: none;
    }
  }
  
  /* mostra o footer quando a altura da tela é maior do que 600px */
  @media (min-height: 768px) {
    .footer {
      font-size: 20px;
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
      align-items: center;
      width: 100%;
    }
  }